:root {
  --newwhite: #fafffd;
  --newblack: #252829;
  --black: #151515;
  --blue: #156794;
}

.gameImageContainer {
  position: relative; 
  height: 100%; 
}

.gameCard{
    background-color: var(--newblack);
    border-radius: 2%;
    margin-bottom: 7%;
    height: 240px;
    text-decoration: none !important;
    color: var(--newwhite);
    transition: 0.4s;
    position: relative;
    overflow: hidden;
}

.gameCard:hover  {
  transform: scale(1.1);
  z-index: 2;
  background-color: var(--newwhite);
}

.star{
  background-color: var(--newblack) !important;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;
  color: var(--newwhite);
  padding: 2%;
  border: 2px solid var(--newblack);
  border-radius: 10px;
  transition: 0.4s;
}

.gameCard:hover .star {
  background-color: var(--newwhite) !important;
  color: var(--newblack); 
  font-weight: bold;
  border: 2px solid var(--blue);
}

.cardTitle{
  padding: 2%;
  font-size: 1.1rem;
  overflow: hidden;
  text-wrap: pretty;
  color: var(--newwhite);
  background-color: var(--newblack);
  transition: 0.4s;
}

.gameCard:hover .cardTitle{
  color: var(--black);
  background-color: var(--newwhite);
  font-weight: bold;
  text-decoration: #156794 underline;
}



