@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Coda:wght@400;800&display=swap');
/* @import 'sonner/dist/sonner.css'; */



:root {
    --newwhite: #fafffd;
    --newblack: #252829;
    --black: #151515;
    --newgreen: #00896a;
    --blue: #156794;

    color: var(--newwhite);
    /* background-color: var(--newblack); */
    font-family: "Chakra Petch", sans-serif;

}

* {
    /* background-color: var(--black); */
    color: var(--newwhite);
    font-family: "Chakra Petch", sans-serif;
}



.body{
    background-color: var(--newblack);
}

.glass {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.81);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.genreSide {
    background-color: var(--newblack);
    color: var(--newwhite);
    text-decoration: none;
}

.genreLink {
    background-color: var(--newblack);
    color: var(--newwhite);
    text-decoration: none;
    transition: 0.3s;
}

.genreLink:hover {
    background-color: var(--newblack);
    color: var(--blue);
    /* text-decoration: underline; */
    transition: 0.2s;
}



.chakra {
    font-family: "Chakra Petch", sans-serif;

}

.bg-blackk {
    background-color: var(--black);
}

.bg-newblack {
    background-color: var(--newblack);
}

.btnGreen {
    background-color: #5ca42d !important;
    color: var(--newwhite) !important;
}

.btnGreen:hover {
    background-color: #4b8f1e !important;
    color: var(--newwhite) !important;
}

.loading {
    font-size: 3rem;
    display: block;
    margin: 0px auto;
}


h1 {
    font-family: "Chakra Petch", sans-serif;
}

.genrePic {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    object-fit: cover;
}

.account {
    background-color: var(--newblack);
    color: var(--newwhite);
    padding: 3%;
    text-decoration: none;
}

.account:hover {

    color: var(--blue);
    text-decoration: none;
}

.favList:hover {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}

.txtBlue {
    color: var(--blue);
}


.carousel-control-prev {
    transform: translateY(50%);
    height: 200px;
    background-color: transparent !important;
}

.carousel-control-next {
    transform: translateY(50%);
    height: 200px;
    background-color: transparent !important;

}

.button.btn-close {
    color: var(--newwhite) !important;
}



.carousel-indicators {
    visibility: hidden;
}

/* .gamesWrapper{
    background-color: var(--newblack);
} */

/* .reset {
    margin-top:  30px;
} */

.nav {
    background-color: #00896a;
}

.txtW {
    color: var(--newwhite);
}

.txtGrey {
    color: grey;
}

.navSearchContainer {
    /* width: 600px; */
    display: flex;
    align-items: center;

}

.buttonPrimary {
    margin-top: 20px;
}

.buttonSecondary {
    margin-top: 20px;
}

.search-container {
    position: relative;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    /* border: none; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

/* .search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
} */

.navSearch {
    background-color: var(--newblack);
    color: var(--newwhite);
    width: 100%;
    height: 45px;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    transition: ease 0.5s;
    
}

.navSearch:hover {
    background-color: var(--newwhite);
    color: var(--newblack);
    
  
}

.hovBlue {
    color: var(--newwhite);
    transition: 0.2s;
}

.hovBlue:hover {
    color: var(--blue);
}

.li {
    list-style: none;
}


.gameCard {
    background-color: var(--newblack);
    /* padding: 1%; */
    border-radius: 2%;
    margin-bottom: 5%;
    height: 225px;
}

.card-title {
    background-color: var(--newblack);
    text-decoration: none;
}

.gamesList {
    column-count: 4;


}

.gamesGenreList {
    column-count: 5;


}

.screenList {
    column-count: 2;


}

.sidebar {
    width: 16%;
    margin-right: 20px;
    background-color: var(--newblack);
    height: fit-content;
    color: var(--newwhite);
    text-decoration: none;
}

.gamesWrapper {
    width: 82%;
    /* padding-left: 0.5%; */
}

.genreWrapper {
    margin-left: 2%;
    margin-right: 2%;
}



.genreDescription {
    margin-left: 2%;
    margin-right: 2%;
}

.imgDetail {
    background-size: cover;
    background-position: center;

}



/* height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
/* } */


.user_card {
    width: 100%;
    height: 100%;
    display: flex;
}

.user_data {
    width: 50%;
}

.user_info {
    width: 50%;
}

.messagesBox {
    /* height: 450px; */
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth !important;
    display: inline-block;
    justify-content: center;

}



.bgBlue {
    background-color: #0b577e;
}

.bgRed {
    background-color: #f93c4b;
}

.chatMsg {
    background-color: var(--newwhite);
    color: var(--newblack);
}

/* .chatContainer {
    height: 550px;
} */

.modal-backdrop {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(10px) !important;
}

.drop {
    /* background-color: var(--newgreen) !important; */
    padding: 0% !important;

}


.titleAuto {
    background-color: var(--newblack);
    transition: background 0.3s;
}

.autocomplete-item:hover .titleAuto {
    background-color: #444;
}

.dropAccount {
    /* background-color: var(--newblack); */
    display: flex;
    justify-content: end;
}

.bgTransparent {
    background-color: transparent;
}

.gameInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.homeWrap {
    display: flex;
    flex-wrap: wrap;
}

.formContainer {
    width: 50%;
    height: 100%;
    margin: auto;
    padding: 5%;


}

.loginImg {
    background-image: url(./assets/login.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 75vh;
}

.navSearchContainer {
    position: relative;
}

.autocomplete-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 300px;
    overflow-y: auto;
    background: #2c2c2c;
    border: 1px solid #ccc;
    z-index: 1000;
    border-radius: 5px;
    padding: 5px 0;
}

.autocomplete-item {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    background-color: var(--newblack);
}

.autocomplete-item:hover {
    background: #444;
}

.imgAvatarSuggestions {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: var(--newwhite);
}

/* .comments{
    height: 200px;
    width: 100%;
   
} */

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.modal-content {
    max-width: 100%;
    max-height: 100%;
}

.Toastify__toast--success {
    background-color: var(--newblack);
    color: var(--newwhite);
}



@media (max-width: 480px) {

    .gamesList {
        column-count: 1;

    }



    .descTxt {
        text-align: center;
    }

    aside,
    .sidebar {
        display: none;
        /* visibility: hidden; */
    }

    .gamesWrapper {
        width: 100%;
        margin: 0;
    }

    .homeWrap {
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    body {
        overflow-x: hidden;
    }

    .gameInfo {
        margin-left: 6%;
    }

    .search-bar {
        flex: 1 0 auto;
        /* Make the search bar shrinkable */
        width: 60%;
        /* Reduce width on small screens */
    }

    .profile-section {
        display: flex;
        justify-content: flex-end;
        /* background-color: violet !important; */
        padding-right: 0% !important;
    }

    .logo {
        display: none;
    }

    .gamesGenreList {
        column-count: 1;


    }

    .screenList {
        column-count: 1;
    }


}